.internshipList{
    height: 84vh;
    overflow-y: scroll;
}

.internshipsList__item{
    text-align: left;
    width: 99%;
    padding: 25px;
    font-size: large;
    background-color: rgb(23, 119, 114);
    color: white;
    margin-bottom: 10px;
    margin-right: 30px;
    cursor: pointer;
  /* position: relative; */
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  /* background: #eee; */
  font-size: 18px;
  transition: 0.2s;
  margin-right: 10%;
  /* border: 1px solid black; */
}

.internshipsList__item:hover {
    background: #ddd;
    box-shadow: 3px 3px 3px black;
  }

.internshipList h3 {
      margin-top: 20px;
      margin-bottom: 20px;
  }