.login{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;    
    /* background-image: url('https://images.unsplash.com/photo-1546593064-053d21199be1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjExMjU4fQ&auto=format&fit=crop&w=500&q=60'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}




.login__form{
    /* background-color: rgb(0, 0, 0, 0.5); */
    background-color: black;
    width: 500px;
    margin: auto;
    display: flex;
    color: white;
    padding: 30px ;
    flex-direction: column;
    text-align: center;
    border: 2px solid black;
    box-shadow: 4px 4px 4px 4px grey;
    position: relative;
    border-radius: 15px;
    animation: login 1.5s ease-in;
}

@keyframes login{
    0%{
        transform: translateY(-100vh);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

.Login .MuiSvgIcon-root {
    font-size: 100px;
    position: absolute;
    top: 0px;
    left: 45%;
}

.login__header{
    height: 20%;
}

.login .title{
    margin-bottom: 10px;
}

.login .label{
    font-size: 1rem;
    margin-bottom: 10px;
}

.login .input{
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 999px;
    outline-width: 0;
}

.login .error{
    margin-bottom: 10px;
    color: red;
}

.login .button{
    margin-top: 30px;
    padding: 10px;
    border-radius: 999px;
    border: none;
    outline-width: 0;
    background-color: darkblue;
    color: white;
    font-size: 1rem;
}

.login .button:hover{
    background-color: rgb(55, 196, 55);
    color: white;
    cursor: pointer;
}